@import "_Fonts";
@import "_Mixins";
@import "_Variables";

%media-text {
  @media (min-width: 992px) {
    font-size: 14px;
  }
  @media (max-width: 992px) and (min-width: 768px) {
    font-size: 12px;
  }
  @media (max-width: 767px) {
    font-size: 10px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
li,
ul {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito Sans", serif;
  .containerAll {
    height: 100vh;
    background-color: #f4f9fd;
    .navCon {
      @media (min-width: 992px) {
        width: 350px;
        height: 100%;
        align-items: flex-start;
      }
      @media (max-width: 992px) and (min-width: 768px) {
        align-items: flex-start;
      }
      @media (max-width: 767px) and (min-width: 420px) {
        align-items: center;
      }
      @media (max-width: 420px) {
        align-items: flex-start;
      }
      background-color: $primary-color;
      border-radius: 24px;
      .logo {
        width: 50px;
      }
      .getStarted {
        @include text-style(#ffffff, null, 700);
        @media (min-width: 992px) {
          font-size: 36px;
        }
        @media (max-width: 992px) and (min-width: 768px) {
          font-size: 30px;
        }
        @media (max-width: 767px) {
          font-size: 24px;
        }
      }
      .nav-tabs {
        @media (min-width: 992px) {
          flex-direction: column;
        }
        @media (max-width: 992px) and (min-width: 768px) {
          flex-direction: column;
        }
        @media (max-width: 767px) and (min-width: 420px) {
          flex-direction: row;
        }
        @media (max-width: 420px) {
          flex-direction: column;
        }
        .navItemCon {
          @media (max-width: 767px) and (min-width: 420px) {
            flex-direction: row;
          }
          @media (max-width: 420px) {
            flex-direction: column;
          }
        }
      }
      .nav-item {
        opacity: 0.5;
        .nav-link {
          @include text-style(#ffffff !important, null, 600);
          @media (min-width: 992px) {
            font-size: 18px;
            padding-left: 40px;
          }
          @media (min-width: 768px) {
            font-size: 16px;
            padding-left: 40px;
          }
          @media (max-width: 767px) {
            font-size: 12px;
            padding-left: 30px;
          }
          padding: 0;
          margin-bottom: 0 !important;
          border: 0;
          position: relative;

          &.active {
            opacity: 1;
            background-color: transparent;
            border: 0;
          }
          &:hover {
            border: 0;
            opacity: 1;
          }
          &.afterLine {
            &::after {
              content: "";
              width: 2px;
              height: 25px;
              background: white;
              margin: 3px 0 3px -29px;
              @media (max-width: 768px) {
                display: none;
              }
              @media (min-width: 768px) {
                display: block;
              }
            }
          }
        }
        .circle {
          border-radius: 50%;
          position: absolute;
          border: 2px solid white;
          background-color: transparent;
          img {
            display: none;
          }
          @media (min-width: 768px) {
            width: 25px;
            height: 25px;
          }
          @media (max-width: 767px) {
            width: 20px;
            height: 20px;
          }
        }
        &:has(.active) {
          opacity: 1;
        }
        &.done {
          opacity: 1;
          .circle {
            background-color: white !important;
            img {
              display: block !important;
            }
          }
        }
      }
    }
    .tabsCon {
      background-color: white;
      border-radius: 24px;
      @media (min-width: 992px) {
        width: calc(100% - 350px);
        overflow-y: auto;
      }
      @media (max-width: 992px) and (min-width: 768px) {
        width: calc(100% - 300px);
        overflow-y: auto;
      }
      @media (max-width: 767px) {
        width: 100%;
      }
      height: 100%;
      .paneCon {
        @media (min-width: 992px) {
          width: 425px;
        }
        @media (max-width: 992px) and (min-width: 768px) {
          width: 300px;
        }
        @media (max-width: 767px) {
          width: 100%;
        }
        .step {
          @include text-style($primary-color, 14px, 700);
        }
        .title {
          @include text-style(#0a1629, null, 700);
          @media (min-width: 992px) {
            font-size: 22px;
          }
          @media (max-width: 992px) and (min-width: 768px) {
            font-size: 19px;
          }
          @media (max-width: 767px) {
            font-size: 16px;
          }
        }
        .formStep1 {
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          input[type="number"] {
            -moz-appearance: textfield;
          }
          label {
            @include text-style($prim-text-color, null, 700);
            @extend %media-text;
          }
          .passInputCon {
            input {
              padding-right: 50px;
            }
            img {
              @include position(absolute, 50%, 4%, null, null);
              transform: translateY(-50%);
              cursor: pointer;
            }
          }
          .countryCode {
            box-shadow: 0px 1px 2px 0px #b8c8e039;
            border-color: $border-color;
            border-radius: 14px;
            height: 50px;
            @include text-style($prim-text-color, null, 400);
            @extend %media-text;
            @media (min-width: 992px) {
              width: 75px;
            }
            @media (max-width: 992px) and (min-width: 768px) {
              width: 70px;
            }
            @media (max-width: 767px) {
              width: 65px;
            }
          }
          .service {
            box-shadow: 0px 1px 2px 0px #b8c8e039;
            border-color: $border-color;
            border-radius: 14px;
            height: 50px;
            @include text-style($prim-text-color, 14px, 400);
          }
          input {
            box-shadow: 0px 1px 2px 0px #b8c8e039;
            border-color: $border-color;
            border-radius: 14px;
            height: 50px;
            @include text-style($prim-text-color, null, 400);
            &::placeholder {
              @include text-style($prim-text-color, null, 400);
              @extend %media-text;
            }
            @extend %media-text;
            &:focus {
              border: 2px solid $primary-color;
            }
            &.smsCode {
              text-align: center;
              @media (min-width: 992px) {
                width: 60px;
                height: 50px;
              }
              @media (max-width: 992px) and (min-width: 768px) {
                width: 50px;
                height: 45px;
              }
              @media (max-width: 767px) {
                width: 40px;
                height: 40px;
              }
            }
          }
        }
        .formStep4 {
          .inputCon {
            label {
              @include text-style($prim-text-color, null, 700);
              @extend %media-text;
            }
            input,
            select {
              box-shadow: 0px 1px 2px 0px #b8c8e039;
              border-color: $border-color;
              border-radius: 14px;
              height: 50px;
              @include text-style($prim-text-color, null, 400);
              &::placeholder {
                @include text-style($prim-text-color, null, 400);
                @extend %media-text;
              }
              @extend %media-text;
              &:focus {
                border: 2px solid $primary-color;
              }
            }
          }
          .teamNumber {
            @include text-style($prim-text-color, null, 700);
            @extend %media-text;
          }
          .teamMembers {
            input {
              display: none;
            }
            .oneTeam {
              text-align: center;
              background-color: $primary-color;
            }
          }
        }
      }
      .smsMessage {
        background-color: #f4f9fd;
        border-radius: 14px;
        width: fit-content;
        margin: auto;
        p {
          @include text-style($primary-color, null, 600);
          @extend %media-text;
        }
      }
    }
    .team-btn {
      border: 1px solid #ddd;
      border-radius: 8px;
      height: 48px;
      background-color: white;
      box-shadow: 0px 1px 2px 0px #b8c8e039;
      display: flex;
      justify-content: center;
      align-items: center;
      label {
        @include text-style($prim-text-color, null, 400);
        @extend %media-text;
      }
      &:has(input:checked) {
        background-color: #007bff;
        border-color: #007bff;
      }
      input:checked + label {
        font-weight: bold;
        color: white;
      }
      &:hover {
        background-color: #0d6efd;
        border-color: #0d6efd;
        label {
          color: white;
        }
      }
    }
    .nextBtn {
      width: 100%;
      border-top: 1px solid $border-color;
      .btnCon {
        padding: 0.7rem 1.5rem;
      }
      .next {
        box-shadow: 0px 6px 12px 0px #3f8cff43;
        border-radius: 14px;
        background-color: $primary-color;
        border: 0;
        color: white;
        @include text-style(white, null, 700);
        @media (min-width: 992px) {
          font-size: 16px;
        }
        @media (max-width: 992px) and (min-width: 768px) {
          font-size: 14px;
        }
        @media (max-width: 767px) {
          font-size: 12px;
        }
        button {
          border: 0;
        }
      }
    }
    .prevBtn {
      background-color: transparent;
      border-radius: 14px;
      border: 0;
      @include text-style($primary-color, 16px, 700);
      @media (min-width: 992px) {
        font-size: 16px;
      }
      @media (max-width: 992px) and (min-width: 768px) {
        font-size: 14px;
      }
      @media (max-width: 767px) {
        font-size: 10px;
      }
    }
  }
  .success {
    height: 100vh;
    .startBtn {
      box-shadow: 0px 6px 12px 0px #3f8cff43;
      background-color: $primary-color;
      @include text-style(white, 16px, 700);
      border-radius: 14px;
      border: 0;
      width: 145px;
      height: 48px;
    }
    .successMsg {
      @include text-style(#0a1629, 22px, 700);
    }
  }
}
